# Core LLM + LangChain
openai>=1.0.0
langchain>=0.1.16
langchain-community

# File parsing
pymupdf          
python-docx      
docx2txt         
python-dotenv    
unstructured     

# Streamlit frontend
streamlit>=1.30.0

pytest
